body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #004466;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

main {
  padding: 20px;
}

footer {
  background-color: #004466;
  color: white;
  text-align: center;
  padding: 10px;
}
